<a href="https://colab.research.google.com/github/neethuponnappan/Python/blob/main/Multiplicationtable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multiplication Table

In [18]:
a= int(input("Enter the number "))
print(f"Multiplication table of {a} is listed below")

for i in range (1,11,1):
  print(f"The table is : {a}*{i}={a*i}")

Enter the number 15
Multiplication table of 15 is listed below
The table is : 15*1=15
The table is : 15*2=30
The table is : 15*3=45
The table is : 15*4=60
The table is : 15*5=75
The table is : 15*6=90
The table is : 15*7=105
The table is : 15*8=120
The table is : 15*9=135
The table is : 15*10=150