<a href="https://colab.research.google.com/github/neethuponnappan/Python/blob/main/Neethu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multiplication Table

In [17]:
a= int(input("Enter the number "))
print(f"Multiplication table of {a} is listed below")

for i in range (1,11,1):
  print(f"The table is : {a}*{i}={a*i}")

Enter the number 450
Multiplication table of 450 is listed below
The table is : 450*1=450
The table is : 450*2=900
The table is : 450*3=1350
The table is : 450*4=1800
The table is : 450*5=2250
The table is : 450*6=2700
The table is : 450*7=3150
The table is : 450*8=3600
The table is : 450*9=4050